<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AirCraftCarrier</key>
	<dict>
		<key>Vertical-Up</key>
		<dict>
			<key>Up</key>
			<array>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>Down</key>
			<array>
				<integer>2</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>Vertical-Down</key>
		<dict>
			<key>Up</key>
			<array>
				<string>2</string>
			</array>
			<key>Down</key>
			<array>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>Horizontal-Right</key>
		<dict>
			<key>Right</key>
			<array>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>Left</key>
			<array>
				<integer>2</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>Horizontal-Left</key>
		<dict>
			<key>Right</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Left</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
	<key>Destroyer</key>
	<dict>
		<key>Vertical-Up</key>
		<dict>
			<key>Up</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Down</key>
			<array>
				<integer>1</integer>
				<string>1</string>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Vertical-Down</key>
		<dict>
			<key>Up</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>Down</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Horizontal-Right</key>
		<dict>
			<key>Right</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Left</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Horizontal-Left</key>
		<dict>
			<key>Right</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>Left</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
	<key>Carrier</key>
	<dict>
		<key>Vertical-Up</key>
		<dict>
			<key>Up</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Down</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Vertical-Down</key>
		<dict>
			<key>Up</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>Down</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Horizontal-Right</key>
		<dict>
			<key>Right</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Left</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Horizontal-Left</key>
		<dict>
			<key>Right</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>Left</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
	<key>GunShipBoat</key>
	<dict>
		<key>Vertical-Up</key>
		<dict>
			<key>Up</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Down</key>
			<array>
				<string>1</string>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Vertical-Down</key>
		<dict>
			<key>Up</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Down</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Horizontal-Right</key>
		<dict>
			<key>Right</key>
			<array>
				<string>1</string>
			</array>
			<key>Left</key>
			<array>
				<string>1</string>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Horizontal-Left</key>
		<dict>
			<key>Right</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Left</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
	<key>SubMarine</key>
	<dict>
		<key>Vertical-Up</key>
		<dict>
			<key>Up</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Down</key>
			<array>
				<string>1</string>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Vertical-Down</key>
		<dict>
			<key>Up</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Down</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Horizontal-Right</key>
		<dict>
			<key>Right</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Left</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Horizontal-Left</key>
		<dict>
			<key>Right</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Left</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Parallel</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
</dict>
</plist>
